/node_modules/

.env
.wwebjs_auth
.wwebjs_cache

# If you add .wwebjs_cache to your .gitignore file,
# any files or folders named .wwebjs_cache will be ignored by git and not tracked or pushed to your repository.
# This is generally OK and recommended, as .wwebjs_cache contains session/cache data for whatsapp-web.js
# and is not needed in version control.